# Virtual environment
/venv/

# Packaging
/*.egg-info
/.eggs
/*.egg

# Testing
/.coverage
/tests-*.txt
/coverage-*.txt

# Vagrant
/.vagrant

# Configuration
/*.cfg

# Python
*.pyc
*.pyo

# PyCharm
/.idea

# Local crushtool executable
/crushtool

# Maps for developnet
/maps
