
stages:
  - syntax
  - unit

.syntax_template: &syntax_definition
  stage: syntax
  before_script:
    - pip install pylint==1.8.1
  script:
    - pylint crushlib

syntax_2.7:
  <<: *syntax_definition
  image: python:2.7-alpine

syntax_3.6:
  <<: *syntax_definition
  image: python:3.6-alpine

.tests_syntax: &tests_definition
  stage: unit
  coverage: /^TOTAL\s+\d+\s+\d+\s+(\d+)\%\s*$/
  before_script:
    - pip install pytest==3.3.2 pytest-random pytest-cov
  script:
    - env PYTHONPATH=. pytest --random --cov=crushlib --cov-report term-missing tests/

unit_2.7:
  <<: *tests_definition
  image: python:2.7-alpine

unit_3.6:
  <<: *tests_definition
  image: python:3.6-alpine
