language: python
python:
- "2.7"
- "3.6"
install:
- pip install -r test-requirements.txt
- pip install -e .
script:
- pylint crushlib/
- pytest --random --cov=crushlib --cov-report term-missing tests/
